<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page_title | safe}}</title>
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" rel="stylesheet" />
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.js"></script>
</head>

<style>

  .plot-body, .main-body {
    display: flex;
    flex-direction: column;
  }

  .content-left {
    order: -1;
  }

  @media (min-width: 768px) {

    .main-body {
      flex-direction: row;
      flex: 1;
    }

    .right-content, .center-content {
      flex: 1;
    }

    .content-center, .content-right {
      flex: 0 0 12em;
    }
  }

</style>

{{ bokeh_script | safe }}


<body class="plot-body">
<script>
function() {
  handle my new componement logic
}
</script>

  <header>
      {{ plots.header | safe }}
  </header>

  <div class="main-body">

    <main class="left-content">
      {{ plots.left | safe}}
  <div class="mycomponent">
    </script>
    </main>

    <nav class="center-content">
      {{ plots.center  | safe}}
    </nav>

    <aside class="right-content">
      {{ plots.right | safe}}
    </aside>

  </div>

  <footer>
      {{ plots.footer | safe }}
  </footer>

</body>

</html>
