<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tax Reform Explorer</title>
    <script src="resources/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="resources/normalize.css" />
    <link rel="stylesheet" href="resources/ion.rangeSlider.css" />
    <link rel="stylesheet" href="resources/ion.rangeSlider.skinFlat.css" />
    <script src="resources/ion.rangeSlider.js"></script>
    <link rel="stylesheet" href="resources/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="resources/bootstrap.min.js"></script>
    <link href="//cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" rel="stylesheet" />

    <style>

      .slider-group {
        height: 80px;
        margin: 15px;
        width:150px;
        text-align:center;
        margin: 15px auto;
        vertical-align: middle;
      }

      .plot-container {
      }

      .slider-group h6 {
        margin-top: 0px;
        margin-bottom: 0px;
        color: #6B6B73;
        font-weight:normal;
        margin:auto;
        vertical-align:middle;
      }

      .irs-from, .irs-to, .irs-single {
        background:#21bfd5 !important;
      }

      .irs-from:after, .irs-to:after, .irs-single:after {
        border-top-color:#21bfd5 !important;
      }

      .irs-grid-pol.small {
        display: None !important;
      }

      .row {
        margin-bottom:15px;
      }

      p {
        color: #6B6B73;
        font-weight:normal;
        font-size:8pt;
      }

      button {
        background-color: #21bfd5 !important;
        color: #ffffff !important;
      }

      #logoImg {
        opacity: 0.4;
      }

    </style>

</head>
<body>

    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>

    {{ bokeh_script | safe }}

<!-- Page contents -->
<div style="position: relative; width:375px;padding:20px;">
</div>

<!-- All JS -->
<script src="jquery-1.12.3.min.js"></script>
<script src="ion.rangeSlider.js"></script>

<script>
    $(function () {

	    window.bars_data = {{ bars_data | safe }};
	    window.lines_data = {{ lines_data | safe }};
	    window.textleft_data = {{ textleft_data | safe }};
	    window.textright_data = {{ textright_data | safe }};
	    window.textbottom_data = {{ textbottom_data | safe }};

	    var onSliderChange = function () {

		    var lookup = ['keep', 'repeal'];
		    var slider1_val = lookup.indexOf($("#slider1").prop('value').toLowerCase()).toString();
		    var slider2_val = lookup.indexOf($("#slider2").prop('value').toLowerCase()).toString();
		    var slider3_val = lookup.indexOf($("#slider3").prop('value').toLowerCase()).toString();
		    var ds_id = 'ds_' + [slider1_val, slider2_val, slider3_val].join('');

		    // lines data source 
		    var line_renderers = Bokeh.index['{{ line_plot_id }}'].renderers;
		    var line_source = line_renderers['{{ line_renderer_id }}'].model.get('data_source');
		    line_source.set('data', window.lines_data[ds_id + '_data']);

		    // bars data source 
		    var bar_renderers = Bokeh.index['{{ bar_plot_id }}'].renderers;
		    var bars_source = bar_renderers['{{ bar_renderer_id }}'].model.get('data_source');
            bars_source.set('data', window.bars_data[ds_id + '_diff']);

            // textleft_plot
		    var tleft_renderers = Bokeh.index['{{ textleft_plot_id }}'].renderers;
		    var tleft_source = tleft_renderers['{{ textleft_renderer_id }}'].model.get('data_source');
            //tleft_plot.set('data', window.textleft_data[ds_id + '_filers']);
		    tleft_source.set('data', window.textleft_data[ds_id + '_filers']);

            // textright_plot
		    var tright_renderers = Bokeh.index['{{ textright_plot_id }}'].renderers;
		    var tright_source = tright_renderers['{{ textright_renderer_id }}'].model.get('data_source');
		    tright_source.set('data', window.textright_data[ds_id + '_revenue']);

            // textbottom_plot
		    var tbottom_renderers = Bokeh.index['{{ textbottom_plot_id }}'].renderers;
		    var tbottom_source = tbottom_renderers['{{ textbottom_renderer_id }}'].model.get('data_source');
		    tbottom_source.set('data', window.textbottom_data[ds_id + '_taxcut']);


	    };

	    var $slider1 = $("#slider1");
	    $slider1.ionRangeSlider({
		    grid: true,
		    grid_num: 2,
		    from: 0,
		    hide_min_max: true,
		    values: ["Keep", "Repeal"]
	    });
	    $slider1.on("change", onSliderChange);

	    var $slider2 = $("#slider2");
	    $slider2.ionRangeSlider({
		    grid: true,
		    grid_num: 2,
		    from: 0,
		    hide_min_max: true,
		    values: ["Keep", "Repeal"]
	    });
	    $slider2.on("change", onSliderChange);

	    var $slider3 = $("#slider3");
	    $slider3.ionRangeSlider({
		    grid: true,
		    grid_num: 2,
		    from: 0,
		    hide_min_max: true,
		    values: ["Keep", "Repeal"]
	    });
	    $slider3.on("change", onSliderChange);

    });
</script>

<div class="container">
        <hr>
        <div class="row">

            <div class="col-md-4">
              <div class="slider-group">
                  <h6>Mortage & Other Interest Paid Deduction</h6>
                  <input id="slider1" type="text" id="range" value="" name="range" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="slider-group">
                  <h6>State & Local Tax Deduction</h6>
                  <input id="slider2" type="text" id="range" value="" name="range" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="slider-group">
                    <h6>Charitable Contribution</h6>
                    <input id="slider3" type="text" id="range" value="" name="range" />
              </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
              <div class="plot-container">
                {{ plots.line_plot | safe }}
              </div>
            </div>

            <div class="col-md-6">
              <div class="plot-container">
                {{ plots.bars_plot | safe }}
              </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
              <div class="plot-container">
                {{ plots.textleft_plot | safe }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="plot-container">
                {{ plots.textright_plot | safe }}
              </div>
            </div>


        </div>

        <div class="row">

            <div class="col-md-6">
              <div class="plot-container">
                {{ plots.textbottom_plot | safe }}
              </div>
            </div>


        </div>




        <div class="row">
            <div class="col-md-1">
		<img id="logoImg" src="//avatars0.githubusercontent.com/u/8301070?v=3&s=75"></img>
	    </div>
            <div class="col-md-8">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                 <input type="text" class="form-control" placeholder="Email">
                 <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Submit</button>
                 </span>
              </div>
            </div>
        </div>

        <hr>

    </div>

</body>
</html>
